<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/rishi/Desktop/github/api_monitoring_system">
        <classes>
            <class name="GetApiTest">
                <methods>
                    <include name="baseTest" />
                    <include name="findByStatus" />
                    <include name="store" />
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
            <listener class-name="utils.SlackUpdater" />
            <listener class-name="utils.TestNGListener" />
    </listeners>
</suite>